@import "/src/theme/bottletop/variables";

.jdev-button {
  border: solid transparent 0.2rem;

  font-size: $font-size-standard;
  font-family: $accent-font-family;
  padding: $small-box-vert $small-box-hori;

  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.standard {
    color: $white-colour;
    @include button-colours($secondary-color);

    &:hover {
      @include button-colours($accent-color);
    }
  }

  &.alternate {
    color: $secondary-color;
    @include button-colours($white-colour);

    &:hover {
      color: $accent-color;
    }

  }
}