// Font sizes
$desktop-font-size: 22px;
$phone-font-size: 28px;

// Relative font sizes
$font-size-standard: 1rem;
$font-size-large: 1.2rem;
$font-size-extra-large: 1.8rem;
$font-size-small: 0.8rem;
$font-size-extra-small: 0.5rem;

// Fonts
$base-font-family:  Tahoma, Verdana, Segoe, sans-serif;
$accent-font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

